@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	--background: #0D1317;
	--foreground: #FFE3DC;
	--focus: #9AE19D;
	--radius: 0.4rem;
	--wins: #caf0c7;
	--losses: #eba9be;
	--gap: 0.5rem;
	--padding: 0.25rem;
	--transparent-bg: rgba(255, 255, 255, 0.1);
}

* {
	color: var(--foreground);
	font-family: Inter, Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.2rem;
}

body {
	width: 100vw;
	max-width: 100%;
	min-width: 150px;
	min-height: 100vh;

	margin: 0;
	padding: 1rem;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: var(--gap);

	background-color: var(--background);
}

header {
	position: sticky;
	padding: var(--padding);
	display: flex;
	align-items: center;
	gap: var(--gap);
	cursor: pointer;
}

header>img {
	width: 2rem;
}

input {
	max-width: 100%;
	box-sizing: border-box;
}

input,
select,
button {
	background-color: var(--background);
	border: 2px solid var(--focus);
	border-radius: var(--radius);
	padding: var(--padding);
}

form {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	gap: var(--gap);
}

.separator {
	display: flex;
	align-items: center;
	text-align: center;
	margin: var(--gap) 0;
	font-size: 0.8rem;
}

.separator::before,
.separator::after {
	content: '';
	flex: 1;
	border-bottom: 1px solid var(--foreground);
	box-sizing: border-box;
}

.separator:not(:empty)::before {
	margin-right: var(--padding);
}

.separator:not(:empty)::after {
	margin-left: var(--padding);
}

#sort_filter {
	display: flex;
	justify-content: flex-start;
	gap: var(--gap);
}

#sort_wrapper,
#filter_wrapper {
	position: relative;
	--height: 2.25rem;
	--icon-size: calc(var(--height) - 2 * var(--padding));

	display: flex;
	flex-direction: row;
	align-items: stretch;
	gap: var(--gap);

	min-width: 0;
}

#sort_wrapper {
	flex-shrink: 0;
}

#filter_wrapper {
	flex-shrink: 1;
	flex-grow: 1;
}

#filter_select_value {
	min-width: 0;
	flex-shrink: 1;
	flex-grow: 1;
}

#sort_select,
#filter_select_id {
	height: var(--height);
	padding-left: var(--icon-size);
}

#sort_select,
#filter_select_id,
#filter_select_cmp,
#filter_select_value {
	box-sizing: border-box;
	text-align: right;
}

#filter_select_value {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: textfield;
}

#sort_direction,
#filter_wrapper::before {
	content: '';
	display: block;

	position: absolute;
	left: var(--padding);
	top: var(--padding);

	width: var(--icon-size);
	height: var(--icon-size);

	background-size: cover;
}

#sort_direction {
	cursor: pointer;
	background-image: url("../static/sort.png");
}

#filter_wrapper::before {
	background-image: url("../static/filter.png");
}

#user * {
	font-size: 2rem;
}

#user,
.opponent {
	display: flex;
	align-items: center;
	gap: 1rem;

	padding: var(--gap);
	box-sizing: border-box;
}

.opponent {
	position: relative;
	background-color: var(--transparent-bg);
	border-radius: var(--radius);
}

.opponent_link {
	position: absolute;
	right: calc(2 * var(--padding));
	top: calc(2 * var(--padding));

	width: 1.5rem;
	aspect-ratio: 1;

	box-sizing: border-box;
	padding: var(--padding);
	border-radius: var(--radius);
	background-color: var(--transparent-bg);
	cursor: pointer;

	background-image: url("../static/link.png");
	background-size: cover;
	background-origin: content-box;
	background-repeat: no-repeat;
}

#user_avatar,
.opponent_avatar {
	width: 5rem;
	aspect-ratio: 1;
	border-radius: var(--radius);
}

#username,
.opponent_username {
	min-width: 8rem;
}

#user_stats,
.opponent_stats {
	flex-grow: 1;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	gap: var(--gap);
}

#user_stats>span,
.opponent_stats>span {
	text-align: center;
}

#opponents {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	gap: var(--gap);
}

.wins {
	color: var(--wins);
}

.losses {
	color: var(--losses);
}

@media only screen and (max-width: 600px) {

	#user,
	.opponent {
		flex-direction: column;
		min-width: 130px;
	}

	#username,
	.opponent_username {
		min-width: unset;
		text-align: center;
	}

	#user_stats,
	.opponent_stats {
		display: flex;
		flex-direction: column;
		justify-content: stretch;
	}

	#filter_wrapper,
	#sort_wrapper {
		flex-direction: column;
	}

	#sort_filter {
		flex-direction: column;
	}
}
